<%= stylesheet_link_tag 'index', :media => "all" %>
<body>
<section id="first-block"> 
<div class="title-container">
      <h6>fishapp</h6>
      <h6>~ すべての釣り人のために ~</h6>
    </div>
</section>
</body>
<%= link_to "マイページへ", user_path(current_user.id),class:"btn btn-default" %>
<br>
<h4>投稿を検索</h4>
 <%= form_tag({controller:"posts",action:"index"}, method: :get) do %><%= text_field_tag :search %><%= submit_tag '検索する'  %>
<% end %>
<br>
<br>いいねランキング
<% @all_ranks.each.with_index(1) do |post, i| %>
  第
  <%= i%>
  位
  <%= post.user.name %>
  <%= post.fishname %>
  <%= post.body %>
  <%= link_to "詳細へ", post_path(post.id) %>
<% end %>
<br>サイズランキング
魚の名前
<% @fishname.each do |p| %>
  <%= link_to p.fishname, post_rank_path(p.fishname),class:"btn btn-info" %>
 
<% end %>
<h1>釣果一覧</h1>
<%= page_entries_info @posts %>
<div class="posts-container">
  <% @posts.each do |t| %>
    <div class="tweet">
        <div class="main-box">
        <div class="left-container"><%= image_tag t.image_url, size: "250x200" if t.image? %></div>
         <div class="center-container">
         <h4>釣り人：<a href="/users/<%= t.user.id %>"><%= t.user.name %></a></h4>
        <h4>釣れた場所:<%= t.place %></h4><h4>釣果日時:<%= t.date %></h4><h4>魚の名前:<%= t.fishname %></h4><h4>ひとこと:<%= t.body %></h4><%= link_to "詳細へ", post_path(t.id),class:"btn btn-warning" %><br>
         </div>
        <div class=right-container>
      <% if user_signed_in? && current_user.id == t.user_id %> 
      <%= t.body %>
      (♡<%= t.liked_users.count %>)  
      <%= link_to "編集する", edit_post_path(t.id) %>
      <%= button_to "削除する", post_path(t.id), method: :delete,class:"btn btn-default" %>
      <% end %> 
    </div>
    </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>
<%= paginate @posts %>

<h2>全国釣果状況</h2>


<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      var latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      var styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      //複数マーカー ここから
      <% @posts.each do |post|%>
        ( function() { 
          var markerLatLng = new google.maps.LatLng({lat: <%= post.latitude %>, lng: <%= post.longitude %>}); // 緯度経度のデータ作成
          var marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map 
          });
    
          var infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<%= post.fishname %><br><%= post.date %>"
          })
    
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
       })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy3YhuPLmGg5D09Hyh64HrC1Yv1y6tUUc&callback=initMap" async defer></script>
