<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="post-container">
    <br>
    <p class="title">投稿フォーム</p>
    <%= form_for(@post, :url => { controller:'posts', action:'create'})do |f| %>
        <br>
        <%= f.label :魚の種類 %>
        <br>
        <%= f.text_field :fishname,size: 140%>
        <br>
        <%= f.label :魚のサイズCMかGRAM %>
        <br>
        <%= f.number_field :size, step: "0.1",size: 200 %>
        <br>
        <br>
        
        <br>
        <%= f.label :釣果日時 %>
        <br>
        <%= f.datetime_select :date,{:use_month_numbers => true} %>
        <br>
        <%= f.label :ひとこと %>
        <br>
        <%= f.text_field :body,size: 140%>
        <br>
        <%= f.label :緯度 %>
        <br>
        <%= f.text_field :latitude,:value =>"下のグーグルマップのピンを動かしてね",size: 140, id: :latitude%>
        <br>
        <%= f.label :経度 %>
        <br>
        <%= f.text_field :longitude,:value =>"下のグーグルマップのピンを動かしてね",size: 140, id: :longitude%>
        <br>
        <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
        </div>
    <%= f.submit "送信", class: "btn btn-primary"%>
    <br>
    <% end %>
</div>

<p>ピンを釣れた場所まで動かしてね↓</p>



<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<script type="text/javascript">
// ページ読み込み完了時に実行する関数
function initMap() {

	// 初期位置
	const okayamaTheLegend = new google.maps.LatLng(33.605208, 130.398197);

// マップ表示
	const okayamap = new google.maps.Map(document.getElementById("map"), {
		center: okayamaTheLegend,
		zoom:13,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	});

	// ドラッグできるマーカーを表示
	const marker = new google.maps.Marker({
		position: okayamaTheLegend,
		title: "Hot Spot",
		draggable: true	// ドラッグ可能にする
	});
	marker.setMap(okayamap)	;

	// マーカーのドロップ（ドラッグ終了）時のイベント
	google.maps.event.addListener( marker, 'dragend', function(ev){
		// イベントの引数evの、プロパティ.latLngが緯度経度。
		document.getElementById('latitude').value = ev.latLng.lat();
		document.getElementById('longitude').value = ev.latLng.lng();
	});
}

// ONLOADイベントにセット

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy3YhuPLmGg5D09Hyh64HrC1Yv1y6tUUc&callback=initMap" async defer></script>